body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #222;
    font-family: 'Roboto', sans-serif;
    background-image: url("https://images.unsplash.com/photo-1635194492292-408267b7e2f4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY0MjQ5NzU2Mg&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080") ;
    font-size: 120%;

}


.card {
    background: #000000d0;
    color : white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;

}


.search{
    display :flex;
    align-items: center;
    justify-content: space-around;

}
button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width : calc(100% - 100px);
}

    button:hover {
        background: #7c7c7c6b;
}


h1.temp {
    margin:0;
    margin-bottom : 0.5em;
}
.flex {
    display : flex;
    align-items: center ;
}
  .description {
      text-transform: capitalize;
      margin-left :9px ;

}
